<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwtongpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{474,380}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,380}}</string>
                <key>sourceSize</key>
                <string>{474,394}</string>
            </dict>
            <key>dianwo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,776},{133,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,119}}</string>
                <key>sourceSize</key>
                <string>{135,119}</string>
            </dict>
            <key>jineng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{111,29}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{111,29}}</string>
                <key>sourceSize</key>
                <string>{129,59}</string>
            </dict>
            <key>jineng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,776},{123,39}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{123,39}}</string>
                <key>sourceSize</key>
                <string>{129,59}</string>
            </dict>
            <key>name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,776},{212,47}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{212,47}}</string>
                <key>sourceSize</key>
                <string>{224,49}</string>
            </dict>
            <key>name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,776},{206,45}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{206,45}}</string>
                <key>sourceSize</key>
                <string>{224,49}</string>
            </dict>
            <key>taskDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,776},{236,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{246,80}</string>
            </dict>
            <key>taskMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{236,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{236,80}}</string>
                <key>sourceSize</key>
                <string>{246,80}</string>
            </dict>
            <key>xinshoulibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{474,390}}</string>
                <key>sourceSize</key>
                <string>{474,394}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuPaoUI5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c49bd42d5eef0636c63aba3219a4ab20$</string>
            <key>textureFileName</key>
            <string>KuPaoUI5.png</string>
        </dict>
    </dict>
</plist>
