<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,275},{187,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,47}}</string>
                <key>sourceSize</key>
                <string>{187,47}</string>
            </dict>
            <key>goldBoardLock.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,275},{187,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,47}}</string>
                <key>sourceSize</key>
                <string>{187,47}</string>
            </dict>
            <key>kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,382}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{508,382}}</string>
                <key>sourceSize</key>
                <string>{508,384}</string>
            </dict>
            <key>randDJ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,737},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,464},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,737},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,464},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>rwjinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{474,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{474,390}}</string>
                <key>sourceSize</key>
                <string>{474,392}</string>
            </dict>
            <key>zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{169,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{169,20}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
            <key>zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,464},{161,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{161,18}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
            <key>zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,988},{165,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{165,18}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuPaoUI2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:761862b653a1a01085049a6945a7c57e$</string>
            <key>textureFileName</key>
            <string>KuPaoUI2.png</string>
        </dict>
    </dict>
</plist>
