<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinpai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,710},{173,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,273}}</string>
                <key>sourceSize</key>
                <string>{173,273}</string>
            </dict>
            <key>libaobeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{619,399}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{619,399}}</string>
                <key>sourceSize</key>
                <string>{623,411}</string>
            </dict>
            <key>mrrw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,542},{166,25}}</string>
                <key>offset</key>
                <string>{-48,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{166,25}}</string>
                <key>sourceSize</key>
                <string>{276,69}</string>
            </dict>
            <key>mrrw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,284},{260,47}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{260,47}}</string>
                <key>sourceSize</key>
                <string>{276,69}</string>
            </dict>
            <key>mrrw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,284},{256,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{256,51}}</string>
                <key>sourceSize</key>
                <string>{276,69}</string>
            </dict>
            <key>ren1Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,190},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>ren2Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,96},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>ren3Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>tool2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,843},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>tool4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,710},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>yinpai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{173,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,273}}</string>
                <key>sourceSize</key>
                <string>{173,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuPaoUI6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be64d1ba9884e6b9fda4c6622c2b08c5$</string>
            <key>textureFileName</key>
            <string>KuPaoUI6.png</string>
        </dict>
    </dict>
</plist>
