<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chuangguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{336,348}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{336,348}}</string>
                <key>sourceSize</key>
                <string>{342,356}</string>
            </dict>
            <key>shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,413},{286,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,71}}</string>
                <key>sourceSize</key>
                <string>{290,71}</string>
            </dict>
            <key>taskBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,409}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{502,409}}</string>
                <key>sourceSize</key>
                <string>{518,423}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuPaoUI9.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e94b5e58f0de1e2eb10285fcb8f89b96$</string>
            <key>textureFileName</key>
            <string>KuPaoUI9.png</string>
        </dict>
    </dict>
</plist>
