<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BloodBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{322,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,49}}</string>
                <key>sourceSize</key>
                <string>{322,49}</string>
            </dict>
            <key>UI_sort_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{489,394}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{489,394}}</string>
                <key>sourceSize</key>
                <string>{517,400}</string>
            </dict>
            <key>jineng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,766},{125,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{125,39}}</string>
                <key>sourceSize</key>
                <string>{129,59}</string>
            </dict>
            <key>randDJ_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,548},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,275},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>randDJ_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,493},{271,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,40}}</string>
                <key>sourceSize</key>
                <string>{271,40}</string>
            </dict>
            <key>rwyinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{474,386}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{474,386}}</string>
                <key>sourceSize</key>
                <string>{474,394}</string>
            </dict>
            <key>zi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,969},{169,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{169,20}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuPaoUI3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33cb4141fe2a7919014231e61d5d5974$</string>
            <key>textureFileName</key>
            <string>KuPaoUI3.png</string>
        </dict>
    </dict>
</plist>
