<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10000jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,316},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>10000jinbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>SetOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,248},{108,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{108,36}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>guanjs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{625,312}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{625,312}}</string>
                <key>sourceSize</key>
                <string>{633,326}</string>
            </dict>
            <key>jinpai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,177},{173,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,273}}</string>
                <key>sourceSize</key>
                <string>{173,273}</string>
            </dict>
            <key>ksan.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,286},{247,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,90}}</string>
                <key>sourceSize</key>
                <string>{247,90}</string>
            </dict>
            <key>lijilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,316},{183,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,61}}</string>
                <key>sourceSize</key>
                <string>{183,61}</string>
            </dict>
            <key>menu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,316},{120,46}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{120,46}}</string>
                <key>sourceSize</key>
                <string>{130,62}</string>
            </dict>
            <key>nice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,166},{115,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,80}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>nice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,84},{115,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,80}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>nice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{115,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{115,80}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>p1h.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,535},{453,80}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{453,80}}</string>
                <key>sourceSize</key>
                <string>{501,84}</string>
            </dict>
            <key>p2h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{453,80}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{453,80}}</string>
                <key>sourceSize</key>
                <string>{501,84}</string>
            </dict>
            <key>tool1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,316},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>tool6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,352},{134,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,131}}</string>
                <key>sourceSize</key>
                <string>{134,131}</string>
            </dict>
            <key>wj006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>wj007.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,286},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,1},{38,22}}</string>
                <key>sourceSize</key>
                <string>{124,24}</string>
            </dict>
            <key>yinpai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{173,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,273}}</string>
                <key>sourceSize</key>
                <string>{173,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KuPaoUI1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48554836111b0c0ff473e16943d3d7bc$</string>
            <key>textureFileName</key>
            <string>KuPaoUI1.png</string>
        </dict>
    </dict>
</plist>
