<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump1Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{68,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>jump1Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{58,43}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,26},{58,43}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>jump1Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,62},{42,39}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{42,39}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>runEffect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>runEffect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,103},{55,36}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>runEffect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{27,30}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{27,30}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionEffect.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5891ef0178b070a9b42d2c81cd0e93df$</string>
            <key>textureFileName</key>
            <string>actionEffect.png</string>
        </dict>
    </dict>
</plist>
