<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigLoad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,0},{131,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bigLoad2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{117,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{117,73}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bigLoad3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,0},{111,75}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
            <key>bigLoad4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{85,75}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{85,75}}</string>
                <key>sourceSize</key>
                <string>{131,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigLoad.png</string>
            <key>size</key>
            <string>{354,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78d3c149c4c0c0188f3f6be66bbd1095$</string>
            <key>textureFileName</key>
            <string>bigLoad.png</string>
        </dict>
    </dict>
</plist>
