<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blueCat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,61}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>blueCat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,73},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{74,67}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>blueCat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,69}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>blueCat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{76,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{76,63}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>blueCat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>blueCat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{74,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blueCat.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb41ebab5a0e083644d860a6454425f$</string>
            <key>textureFileName</key>
            <string>blueCat.png</string>
        </dict>
    </dict>
</plist>
