<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{75,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{75,56}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>cat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,58},{79,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,58}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>cat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{79,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{79,54}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>cat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,58},{77,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{77,56}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>cat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{77,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{77,54}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
            <key>cat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{77,52}}</string>
                <key>sourceSize</key>
                <string>{79,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eef5747c858518645e0947bf20be40d$</string>
            <key>textureFileName</key>
            <string>cat.png</string>
        </dict>
    </dict>
</plist>
