<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,34},{24,24}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,196},{24,24}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{44,42}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,187},{44,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{42,42}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,187},{42,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,46},{44,42}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,187},{44,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{30,32}}</string>
                <key>offset</key>
                <string>{-28,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,189},{30,32}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,134},{36,36}}</string>
                <key>offset</key>
                <string>{-28,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,187},{36,36}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,42}}</string>
                <key>offset</key>
                <string>{-26,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,186},{44,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,90},{42,44}}</string>
                <key>offset</key>
                <string>{-25,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,183},{42,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{-27,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,184},{44,44}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,134},{42,38}}</string>
                <key>offset</key>
                <string>{-26,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,191},{42,38}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{44,40}}</string>
                <key>offset</key>
                <string>{-27,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,189},{44,40}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>eat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{42,42}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,187},{42,42}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eat.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0be284d4d37b8b557a8b553fe18722ce$</string>
            <key>textureFileName</key>
            <string>eat.png</string>
        </dict>
    </dict>
</plist>
