<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flyStar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{347,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,270}}</string>
                <key>sourceSize</key>
                <string>{347,270}</string>
            </dict>
            <key>flyStar10.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,909},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>flyStar11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{210,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,209}}</string>
                <key>sourceSize</key>
                <string>{210,209}</string>
            </dict>
            <key>flyStar12.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,709},{201,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,203}}</string>
                <key>sourceSize</key>
                <string>{201,203}</string>
            </dict>
            <key>flyStar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,249},{240,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,231}}</string>
                <key>sourceSize</key>
                <string>{240,231}</string>
            </dict>
            <key>flyStar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,485},{210,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,229}}</string>
                <key>sourceSize</key>
                <string>{210,229}</string>
            </dict>
            <key>flyStar4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,249},{241,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,234}}</string>
                <key>sourceSize</key>
                <string>{241,234}</string>
            </dict>
            <key>flyStar5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{215,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,240}}</string>
                <key>sourceSize</key>
                <string>{215,240}</string>
            </dict>
            <key>flyStar6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,709},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>flyStar7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,887},{193,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,221}}</string>
                <key>sourceSize</key>
                <string>{193,221}</string>
            </dict>
            <key>flyStar8.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,482},{237,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,225}}</string>
                <key>sourceSize</key>
                <string>{237,225}</string>
            </dict>
            <key>flyStar9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{205,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,224}}</string>
                <key>sourceSize</key>
                <string>{205,224}</string>
            </dict>
            <key>hou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,103}}</string>
                <key>sourceSize</key>
                <string>{448,103}</string>
            </dict>
            <key>hou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{448,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,81}}</string>
                <key>sourceSize</key>
                <string>{448,81}</string>
            </dict>
            <key>jiasu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,482},{199,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,189}}</string>
                <key>sourceSize</key>
                <string>{199,189}</string>
            </dict>
            <key>jiasu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,697},{221,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,210}}</string>
                <key>sourceSize</key>
                <string>{221,210}</string>
            </dict>
            <key>xian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,169},{374,78}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,4},{374,78}}</string>
                <key>sourceSize</key>
                <string>{432,82}</string>
            </dict>
            <key>xian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{400,82}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{400,82}}</string>
                <key>sourceSize</key>
                <string>{432,82}</string>
            </dict>
            <key>xian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{430,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,82}}</string>
                <key>sourceSize</key>
                <string>{432,82}</string>
            </dict>
            <key>xian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,85},{410,82}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,82}}</string>
                <key>sourceSize</key>
                <string>{432,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6d4d3654973b9c5ed835c2670d74b6d$</string>
            <key>textureFileName</key>
            <string>fly1.png</string>
        </dict>
    </dict>
</plist>
