<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{74,61}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jump_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{82,61}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{82,61}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jump_light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{86,63}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,63}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jump_light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{100,65}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jump_light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{100,47}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{100,47}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jump_light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,0},{100,41}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{100,41}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>jump_light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,65}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{100,65}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_light.png</string>
            <key>size</key>
            <string>{403,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e427aac20a0255dbe822a36a585793$</string>
            <key>textureFileName</key>
            <string>jump_light.png</string>
        </dict>
    </dict>
</plist>
